# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Gemini
GEMINI_API_KEY=

# Resend
RESEND_API_KEY=
EMAIL_DESTINATARIOS=email1@empresa.com,email2@empresa.com
EMAIL_REMETENTE=alertas@seudominio.com

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Segurança do Cron
CRON_SECRET=gerar-uma-string-aleatoria-aqui
